$gray-100: #f2f2f2;

$green-950: #004140;
$green-500: #19b89d;

$cyan-800: #006971;
$cyan-500: #26b5c0;

$gold-500: #e28625;
$gold-200: #ffd473;

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-1000: 5rem;

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;